*{
  padding: 0;
  margin: 0;
}
.main{
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
h1{
  font-size:10vh;
}
.btn-div{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-top: 30px;
}
.btn{
  width: 130px;
  height: 60px;
  border-radius: 4px;
  background-color: crimson;
  border: none;
  transition: all 0.2s ease-in-out;
  font-size: 20px;
  color: white;
  font-weight: bold;
}
.btn:hover{
  transform: scale(110%);
  box-shadow: 5px 5px 5px black;
}
h2{
  margin-top: 10px;
  font-size:15px;
}
.heading{
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.input-div{
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.input-box{
  width:250px;
  height: 25px;
  padding: 10px;
  font-size: 20px;
  border-radius: 10px;
  border: 2px solid crimson;
}
@media (max-width:600px) {
    .btn-div{
      flex-direction: column;
    }
}
.green{
  color: green;
}
.red{
  color: red;
}
.start{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.btn-2{
  height: 50px;
  width: 50px;
  border-radius: 5px;
  background-color: crimson;
  border: none;
  font-size: 15px;
  color: white;
  font-weight: bold;
  transition: all 0.2s ease;
}
.btn-2:hover{
  transform: scale(110%);
  box-shadow: 5px 5px 5px black;
}
.start-box{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
 
}
.start-box input{
  width:250px;
  height: 25px;
  padding: 10px;
  font-size: 20px;
  border-radius: 10px;
  border: 2px solid crimson;
}